<h1> Birthday Calculator </h1>
<form action="/details" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name">

  <label for="day">Day:</label>
  <input type="text" name="day">

  <label for="month">Month:</label>
  <select name="month">
    <option value = "January"> January </option>
    <option value = "February"> February </option>
    <option value = "March"> March </option>
    <option value = "April"> April </option>
    <option value = "May"> May </option>
    <option value = "June"> June </option>
    <option value = "July"> July </option>
    <option value = "August"> August </option>
    <option value = "September"> September </option>
    <option value = "October"> October </option>
    <option value = "November"> November </option>
    <option value = "December"> December </option>
  </select>

  <input type="submit" value="Submit">
</form>
